
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkorange;
    padding: 20px 40px;
}

.logo-img {
    height: 120px;
    /* Adjust the height as needed */
    width: auto;
    /* Maintain aspect ratio */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav ul li {
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* Increased font size */
    font-weight: bold;
    /* Made text bold */
    padding: 10px 15px;
    /* Added padding for larger clickable area */


}

.nav ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

/*footer*/
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer a {
    color: #ff5500;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ff5500;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #fff;
}

.footer .social-icons a:hover {
    color: #ff5500;
}

.footer .newsletter input {
    margin-top: 10px;
}

.footer .newsletter button {
    background-color: #ff5500;
    border: none;
    padding: 5px 20px;
    color: #fff;
}





.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: calc(25% - 20px); /* Adjust width to fit more items if needed */
}

.gallery-item img {
    width: 100%;
    height: 200px;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}