body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkorange;
    padding: 20px 40px;
}

.logo-img {
    height: 120px;
    /* Adjust the height as needed */
    width: auto;
    /* Maintain aspect ratio */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav ul li {
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* Increased font size */
    font-weight: bold;
    /* Made text bold */
    padding: 10px 15px;
    /* Added padding for larger clickable area */


}

.nav ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

/*footer*/
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer a {
    color: #ff5500;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ff5500;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #fff;
}

.footer .social-icons a:hover {
    color: #ff5500;
}

.footer .newsletter input {
    margin-top: 10px;
}

.footer .newsletter button {
    background-color: #ff5500;
    border: none;
    padding: 5px 20px;
    color: #fff;
}


/*end footer */



.container1 {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 900px;
}

.movie-image img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-image {
    flex: 1;
    overflow: hidden;
}

.movie-details {
    flex: 2;
    padding: 20px;
}

.movie-details h1 {
    margin: 0 0 10px;
}

.movie-details p {
    margin: 10px 0;
}

.ticket-quantity {
    display: flex;
    align-items: center;
}

.ticket-quantity button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.ticket-quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.buy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buy-button:hover {
    background-color: #218838;
}
