.payment-container {
    max-width: 500px;
    margin:20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

.payment-container h2, .payment-container h3 {
    margin-bottom: 20px;
    text-align: center;
}

.payment-container form .form-group label {
    font-weight: bold;
}

