/* General Body Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    background-color:  #ff5500; /* White background for the navbar */
    width: 100%;
}

.navbar-nav .nav-link {
    color: #000000; /* Black color for the navigation links */
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

/* Logo Styling */
.logo-img {
    height: 100px;
    width: auto;
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        gap: 10px;
    }
}

/*footer*/
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer a {
    color: #ff5500;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ff5500;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #fff;
}

.footer .social-icons a:hover {
    color: #ff5500;
}

.footer .newsletter input {
    margin-top: 10px;
}

.footer .newsletter button {
    background-color: #ff5500;
    border: none;
    padding: 5px 20px;
    color: #fff;
}

.containers {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.movie-table thead {
    background-color: #007bff;
    color: #fff;
}

.movie-table th,
.movie-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.movie-table th {
    background-color: #007bff;
    color: white;
}

.movie-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.movie-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.action-btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
}

.action-btn:hover {
    color: #0056b3;
}
.icon{
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    
}
.header-btn{
    margin-left:1070px;
    margin-top:1px;
    margin-bottom: 5px;
    
 }