
/* General Body Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    background-color:  #ff5500; /* White background for the navbar */
    width: 100%;
}

.navbar-nav .nav-link {
    color: #000000; /* Black color for the navigation links */
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.registration-form {
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #ff5722;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f3f1f1;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #ffffff;
    color: #f3f1f1;
}

.form-group input:focus {
    outline: none;
    border-color: #ff5722;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}

/* Responsive Design */
@media (max-width: 480px) {
    .registration-form {
        padding: 20px;
    }
}